# Python

Sigue el código aquí: https://codeshare.io/2BwXmm

# Variables

In [1]:
mi_variable = 2

In [2]:
mi_variable

2

In [3]:
print(mi_variable)

2

In [4]:
mi_variable + 3

5

In [5]:
print(f"Hola mundo {mi_variable}")

Hola mundo 2

In [6]:
type(mi_variable)

int

In [7]:
type(3.14)

float

In [8]:
type("Ejemplo")

str

In [9]:
cadena = "Los jueves en la noche tenemos clase de NLP"

In [10]:
print(cadena)

Los jueves en la noche tenemos clase de NLP

In [11]:
cadena.split()

['Los', 'jueves', 'en', 'la', 'noche', 'tenemos', 'clase', 'de', 'NLP']

In [12]:
cadena.split("o")

['L', 's jueves en la n', 'che tenem', 's clase de NLP']

In [14]:
palabras = cadena.split()

In [15]:
palabras

['Los', 'jueves', 'en', 'la', 'noche', 'tenemos', 'clase', 'de', 'NLP']

In [16]:
type(palabras)

list

In [18]:
int("3") + 2

5

In [19]:
"3" * 2

'33'

In [20]:
int("3") * 2

6

# Listas

In [21]:
palabras

['Los', 'jueves', 'en', 'la', 'noche', 'tenemos', 'clase', 'de', 'NLP']

In [22]:
palabras[1]

'jueves'

In [23]:
palabras[0]

'Los'

In [25]:
palabras[-2]

'de'

In [26]:
palabras[2:5]

['en', 'la', 'noche']

In [28]:
palabras.index("jueves")

1

In [29]:
n = 6

palabras[2:n]

['en', 'la', 'noche', 'tenemos']

# Condicionales

In [30]:
if 3 > 5:
    print("Verdadero")

In [31]:
if 3 < 5:
    print("Verdadero")

Verdadero

In [32]:
if 3 > 5:
    print("Verdadero")
else: 
    print(":(")

:(

In [33]:
palabras

['Los', 'jueves', 'en', 'la', 'noche', 'tenemos', 'clase', 'de', 'NLP']

In [35]:
dia = "viernes"

if dia in palabras:
    print(f"{dia} está en palabras")
else:
    print(f"{dia} NO está en palabras")

viernes NO está en palabras

# Bucles

In [37]:
for _ in palabras:
    print(_)

Los
jueves
en
la
noche
tenemos
clase
de
NLP

In [41]:
for i,_ in enumerate(palabras): 
    print(f"La palabra <<{_}>> está en el lugar #{i} de la lista")

La palabra <<Los>> está en el lugar #0 de la lista
La palabra <<jueves>> está en el lugar #1 de la lista
La palabra <<en>> está en el lugar #2 de la lista
La palabra <<la>> está en el lugar #3 de la lista
La palabra <<noche>> está en el lugar #4 de la lista
La palabra <<tenemos>> está en el lugar #5 de la lista
La palabra <<clase>> está en el lugar #6 de la lista
La palabra <<de>> está en el lugar #7 de la lista
La palabra <<NLP>> está en el lugar #8 de la lista

In [44]:
for numero in range(5,15):
    print(numero)
    print("jeje")
    
print("Jajaja")

5
jeje
6
jeje
7
jeje
8
jeje
9
jeje
10
jeje
11
jeje
12
jeje
13
jeje
14
jeje
Jajaja

In [45]:
for numero in range(5,15):
    if numero % 2 == 0:
        print(f"{numero} es un número par")
    else:
        print(f"{numero} es un número impar")

5 es un número impar
6 es un número par
7 es un número impar
8 es un número par
9 es un número impar
10 es un número par
11 es un número impar
12 es un número par
13 es un número impar
14 es un número par

# Listas de comprensión

In [48]:
# Búcle normal

nueva_lista = []

for p in palabras:
    nueva_lista.append(p.upper())
    
nueva_lista

['LOS', 'JUEVES', 'EN', 'LA', 'NOCHE', 'TENEMOS', 'CLASE', 'DE', 'NLP']

In [49]:
# Lista de comprensión

nueva_lista2 = [p.upper() for p in palabras]
nueva_lista2

['LOS', 'JUEVES', 'EN', 'LA', 'NOCHE', 'TENEMOS', 'CLASE', 'DE', 'NLP']

In [52]:
[n*2 for n in range(5,15) if n % 2 == 0]

[12, 16, 20, 24, 28]

In [53]:
palabras

['Los', 'jueves', 'en', 'la', 'noche', 'tenemos', 'clase', 'de', 'NLP']

In [61]:
mi_lista = []

In [62]:
mi_lista

[]

In [63]:
for p in palabras:
    print(p)
    nueva_p = p.upper()
    mi_lista.append(nueva_p)
    print(mi_lista)
    print()

Los
['LOS']

jueves
['LOS', 'JUEVES']

en
['LOS', 'JUEVES', 'EN']

la
['LOS', 'JUEVES', 'EN', 'LA']

noche
['LOS', 'JUEVES', 'EN', 'LA', 'NOCHE']

tenemos
['LOS', 'JUEVES', 'EN', 'LA', 'NOCHE', 'TENEMOS']

clase
['LOS', 'JUEVES', 'EN', 'LA', 'NOCHE', 'TENEMOS', 'CLASE']

de
['LOS', 'JUEVES', 'EN', 'LA', 'NOCHE', 'TENEMOS', 'CLASE', 'DE']

NLP
['LOS', 'JUEVES', 'EN', 'LA', 'NOCHE', 'TENEMOS', 'CLASE', 'DE', 'NLP']

In [64]:
mi_lista

['LOS', 'JUEVES', 'EN', 'LA', 'NOCHE', 'TENEMOS', 'CLASE', 'DE', 'NLP']

# Diccionarios

In [65]:
mi_diccionario = {}

In [66]:
mi_diccionario['verde'] = 'green'

In [67]:
mi_diccionario

{'verde': 'green'}

In [68]:
mi_diccionario['azul'] = 'blue'

In [69]:
mi_diccionario

{'verde': 'green', 'azul': 'blue'}

In [70]:
mi_diccionario['verde2'] = 'green'

In [71]:
mi_diccionario

{'verde': 'green', 'azul': 'blue', 'verde2': 'green'}

In [72]:
mi_diccionario['verde'] = 'v'

In [73]:
mi_diccionario

{'verde': 'v', 'azul': 'blue', 'verde2': 'green'}

# Funciones lambda

In [74]:
import pandas as pd

In [78]:
data = pd.DataFrame([["huskys", 1],["labradores", 2]])
data.columns = ["perritos", "números"]
data

     perritos  números
0      huskys        1
1  labradores        2

In [79]:
data['perritos']

0        huskys
1    labradores
Name: perritos, dtype: object

In [82]:
data['perritos'].apply(lambda perro: "PERRO "+perro.upper())

0        PERRO HUSKYS
1    PERRO LABRADORES
Name: perritos, dtype: object

In [83]:
data['PERRITOS'] = data['perritos'].apply(lambda perro: "PERRO "+perro.upper())

In [84]:
data

     perritos  números          PERRITOS
0      huskys        1      PERRO HUSKYS
1  labradores        2  PERRO LABRADORES

# Funciones

In [92]:
def mi_funcion(nombre):
    return f"Mi nombre es {nombre.upper()}"

In [93]:
mi_funcion("Viviana")

'Mi nombre es VIVIANA'

In [87]:
nombres = ["Sergio", "Sebastián", "Paula", "Guillermo"]

In [88]:
for n in nombres:
    print(n)

Sergio
Sebastián
Paula
Guillermo

In [94]:
for n in nombres:
    print(mi_funcion(n))

Mi nombre es SERGIO
Mi nombre es SEBASTIÁN
Mi nombre es PAULA
Mi nombre es GUILLERMO

In [95]:
[mi_funcion(n) for n in nombres]

['Mi nombre es SERGIO',
 'Mi nombre es SEBASTIÁN',
 'Mi nombre es PAULA',
 'Mi nombre es GUILLERMO']

# Instalar librerias desde el notebook

instalador de pip

In [96]:
! pwd # Linux Mac
! dir # Windows

/Users/vivianamarquez/Desktop/NLP/NLP 2021-I/NLP-KL-2021-I/notebooks

In [97]:
! pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /opt/anaconda3/lib/python3.7/site-packages (0.18.0)